body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    
}

.header {
    display: flex;
    height: 72px;
    display: flex;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    gap: 300px
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin-right: 20px;
}

.welcome-box {
    display: flex;
    flex-direction: row;
}

/* .welcome {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.image {
    display: flex;
    justify-content: center;
    padding: 15px
} */

img {
    max-width: 300px;
    max-height: 250px;
} 

.information {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
}

.directions-box {
    display: flex;
    justify-content: space-between;
}

.quote-box {
    display: flex;
    flex-wrap: wrap;
    background-color: lightyellow;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quote {
    font-size: 32px;
    max-width: 600px;
    font-style: italic;
    align-self: center;

}
.author {
    margin-left: 600px;
    font-size: 28px;
    font-weight: bold;
}

.footer {
    display: flex;
    background-color: lightpink;
}

button {
    width: 100px;
}