body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    height: 72px;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    gap: 300px
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin-right: 20px;
}

.welcome-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: aquamarine;
    gap: 30px;
}

.welcomeImage {
    width: 700px;
    max-height: 350px;
    border-radius: 5%;
} 

.destination-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination-images {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin: 30px;
}

.destinationImage {
    border-style: solid;
    border-color: peachpuff;
    border-radius: 15%;
    border-width: 5px;
    max-width: 400px;
    max-height: 300px;
}

.quote-box {
    display: flex;
    flex-wrap: wrap;
    background-color: lightyellow;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quote {
    font-size: 32px;
    max-width: 600px;
    font-style: italic;
    align-self: center;

}
.author {
    margin-left: 600px;
    font-size: 28px;
    font-weight: bold;
}

.action {
    display: flex;
    justify-content: center;
}

.action-box {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 40px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: aliceblue;
    align-items: center;

}

.signup-button {
    height: 30px;
}
.footer {
    display: flex;
    background-color: lightpink;
}

button {
    width: 100px;
}