body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(25%);
}

.metamorphous-regular {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
}

.header {
    display: flex;
    height: 72px;
    background-color: #51e2f5;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin-right: 20px;
}

.welcome-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #51e2f5;
    gap: 30px;
}

.welcomeImage {
    width: 700px;
    max-height: 350px;
    border-radius: 5%;
} 

.destination-box-header {
    font-size: 50px;;
}
.destination-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.destination-images {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin: 30px;
}

.destinationImage {
    border-style: solid;
    border-color: peachpuff;
    border-radius: 15%;
    border-width: 5px;
    width: 400px;
    height: 300px;
    transition: transform 0.5s ease-in-out;
}

.destinationImage:hover {
    transform: scale(1.5);
}

.destinationDescription {
    text-align: center;
    width: 400px;
    text-indent: 0;
    font-family: "Metamorphous", serif;
}

.destinationTitle {
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
    font-family: "Metamorphous", serif;
}

.quote-box {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffa8B6;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quote {
    font-size: 32px;
    max-width: 600px;
    font-style: italic;
    align-self: center;
    font-family: "Metamorphous", serif;

}
.author {
    margin-left: 600px;
    font-size: 28px;
    font-weight: bold;
    font-family: "Metamorphous", serif;
}

.action {
    display: flex;
    justify-content: center;
}

.action-box {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 40px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #a28089;
    align-items: center;

}

.signup-button {
    height: 30px;
}
.footer {
    display: flex;
    background-color: lightpink;
}

button {
    width: 100px;
}