body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    
}

.header {
    display: flex;
    height: 72px;
    display: flex;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    gap: 300px
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin-right: 20px;
}

.welcome {
    display: flex;
    flex-direction: row;
}

.image {
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
}

.quote {
    display: flex;
    background-color: lightyellow;
}

.footer {
    display: flex;
    background-color: lightpink;
}